@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0e0e0e;
  background-color: #f1f1f9;
  font-family: 'Poppins', sans-serif;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.right,.top {
  text-align: right;
  align-items: flex-start;
}
.left,.bottom {
  text-align: left;
  align-items: flex-end;
}
.sb {
  justify-content: space-between;
}
.sa {
  justify-content: space-around;
}
a {
  text-decoration: none;
}
a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: #000;
}
.flex-1 {
  flex: 1;
}
.pointer {
  cursor: pointer;
}
