@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #b8b8ba;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.logo {
  height: 100px;
  position: fixed;
  top: 20px;
  right: 20px;
}

.logo:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.App,
#gallery,
#info,
#artist,
#bookings,
.Admin {
  background-color: #1d1d1f;
}

#gallery,
#info,
#artist,
#bookings,
.Admin {
  min-height: 100vh;
  padding: 30px;
}

.top-line {
  z-index: 99999;
  width: 100vw;
  height: 5px;
  background-color: #c8bb6b;
}
#triangle {
  z-index: 9999999;
}
.top-line-tri {
  position: fixed;
  top: -10px;
  left: 30px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #c8bb6b;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.right,
.top {
  text-align: right;
  align-items: flex-start;
}

.left,
.bottom {
  text-align: left;
  align-items: flex-end;
  justify-content: flex-start
}

.sb {
  justify-content: space-between;
}

.sa {
  justify-content: space-around;
}

a {
  text-decoration: none;
}

a:hover,
.nav-item:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: #9d9757;
}

.flex-1 {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

.nav {
  padding: 10px;
  margin: 10px;
  z-index: 99999;
}

.nav-item {
  margin-right: 20px;
}

.active {
  color: #9d9757;
}

.gold {
  color: #9d9757;
}

.home {
  height: 100vh;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/heaven-tattoo.appspot.com/o/girl.png?alt=media&token=23bedd55-5ad6-4ef2-bafb-d289ed0d5cf7');
  background-repeat: no-repeat;
  background-position-x: 156px;
  background-position-y: 0px;
  background-size: 87vh;
}

.left-home {
  width: 50vw;
  align-items: flex-start;
}

.left-home-container {
  padding: 20px;
  justify-content: flex-end;
  height: 100%;
}

.left-home-container>div {
  margin-bottom: 20px;
}

.lite-grey {
  color: hsl(240deg 1% 39%);
}

.time {
  margin-left: 30px;
}

.left-home strong {
  font-size: 1rem;
  font-weight: bold;
}

.title-img {
  background-color: transparent;
  width: 30vw;
}

.right-home {
  width: 50vw;
  background: none;
  height: 100%;
}

.quote img {
  position: absolute;
  width: 25px;
  margin-bottom: 25px;
}

.quote-title {
  text-align: right;
  color: hsl(240deg 3% 87%);
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 10px;
}

.tag-line {
  font-size: 35px;
  letter-spacing: 4px;
  color: hsl(0deg 0% 82%);
}

.underline {
  width: 200px;
  height: 3px;
  background-color: hsl(240deg 1% 72%);
  margin-bottom: 20px;
}

.quote-description {
  color: hsl(240deg 1% 60%);
}

.button-grp {
  margin-top: 50px;
}

.button-grp button {
  cursor: pointer;
  color: hsl(240deg 1% 60%);
  padding: 10px 30px;
  margin: 20px;
  background-color: transparent;
  border: 2px solid hsl(240deg 1% 60%);
  border-radius: 10px;
}

.button-grp button:hover {
  color: rgb(197, 197, 206);
  border: 2px solid rgb(197, 197, 206);
}

.info,
.gallery {
  background-image: url("./assets/img/model2.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.bookings {
  background-image: url("./assets/img/model3.jpg");
  background-repeat: repeat;
  background-position-x: center;
  background-size: contain;
}

.card {
  background-color: #00000083;
  padding: 30px;
  border: 2px solid #9d975700;
  margin: 30px;
}

.card:hover {
  background-color: #000000ac;
  border: 2px solid #9d9757;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.gallery {
  padding-top: 50px;
}

.gallery-container::-webkit-scrollbar {
  display: none;
}

.gallery-container {
  padding: 30px;
  height: 80vh;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.734);
  overflow-y: scroll;
}

.black-box-top,
.black-box {
  background-color: rgba(0, 0, 0, 0.734);
  width: 80vw;
  height: 60px;
}

.black-box-top {
  padding: 10px;
  padding-left: 40px;
  margin-top: 50px;
}

.roww {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 17vh;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .roww {
    margin-top: 147vh;
  }
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .roww {
    margin-top: 60vh;
  }
}

.column img {
  filter: grayscale(1);
}

.column img:hover {
  filter: contrast(1.5);
  transition: all 2s ease-in-out;
}

.gold-hover {
  margin-top: 30px;
}

.booking-item:hover .gold-hover,
.booking-item:hover img {
  color: #9d9757;
  filter: grayscale(0);
}

.bookings-container {
  width: 90vw;
  margin-top: 100px;
}

.booking-item {
  margin-left: 100px;
  margin-right: 100px;
}

.booking-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  filter: grayscale(0.6);
}

.side-title {
  position: absolute;
  transform: rotate(90deg);
  right: 10px;
}

.side-title-gallery {
  top: 120vh;
}

.side-title-info {
  top: 230vh;
}

.side-title-artist {
  top: 360vh;
}

.side-title-bookings {
  top: 460vh;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #9d9757;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
}

.artist {
  background-image: url("./assets/img/logo.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.artist-card {
  background-color: #00000083;
  padding: 30px;
  border: 2px solid #9d975700;
  margin: 30px;
}

.artist-card img {
  height: 54vh;
  object-fit: contain;
  width: 500px;
}

.gallery-pointer {
  left: 100px;
}

.info-pointer {
  left: 195px;
}

.artist-pointer {
  left: 293px;
}

.bookings-pointer {
  left: 370px;
}

.mr20 {
  margin-right: 20px;
}

.input-grp {
  margin-top: 20px;
}

.input-grp input {
  color: #1d1d1f;
  border: 3px solid #9d9757;
  height: 40px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  outline-width: 0;
}

.input-grp button,.back {
  cursor: pointer;
  color: #9d9757;
  padding: 10px 30px;
  margin: 20px;
  background-color: transparent;
  border: 2px solid #9d9757;
  border-radius: 10px;
} 
.back {
  margin-top: 20px;
}
.input-grp button:hover,.back:hover {
  color: black;
  border: 2px solid black;
  background-color: #9d9757;
}

.mt20 {
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  * {
    font-size: 12px;
  }

  .App {
    width: 100vw;
  }

  .home {
    flex-direction: column-reverse;
    width: 100vw;
  }

  .left-home-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
  }

  .right-home {
    width: 100vw;
    margin-top: 7rem;
  }

  .right-home>img {
    width: 80vw;
  }

  .gallery-pointer {
    left: 7rem;
  }

  .info-pointer {
    left: 13rem;
  }

  .artist-pointer {
    left: 20rem;
  }

  .bookings-pointer {
    left: 25rem;
  }

  .tag-line {
    font-size: 24px;
  }

  .underline {
    width: 130px;
  }

  .gallery-title {
    font-size: 25px;
  }

  .side-title h1 {
    font-size: 25px;
  }

  .info-container {
    flex-direction: column;
  }

  .info {
    background-repeat: repeat;
    background-size: inherit;
  }

  .card img {
    width: 250px;
    height: 250px;
  }

  .card {
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
  }

  .card:hover {
    transform: scale(1);
  }

  .side-title {
    right: 0px;
  }

  .info,
  .artist,
  .bookings,
  .artist {
    position: relative;
  }

  .side-title-info {
    top: 12vh;
  }

  .side-title-artist {
    top: 7vh !important;
  }

  .side-title-bookings {
    top: 10vh;
  }

  .side-title-artist {
    top: 10vh;
  }

  .artist-card {
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
  }

  .artist-card img {
    width: 250px;
    height: 250px;
  }

  .artist-container {
    display: flex;
    flex-direction: column;
  }

  .booking-item {
    margin: 10px;
  }

  .booking-item a img {
    width: 50px;
    height: 50px;
  }

  .bookings-container {
    flex-direction: column;
  }

  .bookings h1 {
    font-size: 25px;
  }

  .logo {
    height: 49px;
    position: fixed;
    top: 6px;
    right: 5px;
  }

  .roww {
    margin-top: 383vh;
  }
}